* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
}

body {
  width: 100vw;
  background-color: whitesmoke;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  font-family: "Domine", serif;
}

header .nav-bar ul {
  list-style: none;
}

header .nav-bar ul li {
  position: relative;
  float: left;
}

header .nav-bar ul li a {
  font-size: 20px;
  color: black;
  padding: 20px;
  display: block;
  position: relative;
  padding: 3px;
  margin: 5px;
}

.logo_web {
  width: 150px;
  height: auto;
}

header .nav-bar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

header .nav-bar ul li:hover::after {
  width: 100%;
  transition: 0.5s ease-out;
}

header .nav-bar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
  display: none;
}

header .nav-bar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .nav-bar ul li:focus-within > ul,
header .nav-bar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 20px;
  }
  header label {
    display: initial;
  }
  header .nav-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }

  header .nav-bar ul li {
    width: 100%;
    left: 12px;
  }
  header .nav-bar ul li ul {
    position: relative;
    width: 100%;
  }
  header .nav-bar ul li ul li {
    background: #eee;
  }
  #menu-bar:checked ~ .nav-bar {
    display: initial;
  }
  .logo_web {
    display: none;
  }
  header .nav-bar ul li:hover::after {
    width: 100%;
    transition: 0.5s ease-out;
  }
}

.Contact_me-container {
  width: 500px;
  height: 500px;
  margin-top: 10.6em;
  border-radius: 20px;
  padding: 1em;
  background-color: #f6e1c3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.Contact_me-container h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

.Profile-bild {
  height: 500px;
  margin-top: 10%;
  margin-left: 2%;
  border-radius: 0.9rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  filter: brightness(90%);
}

@media screen and (max-width: 768px) {
  .Profile-bild {
    position: relative;
    top: 200px;
    width: 400px;
    height: auto;
  }

  .Contact_me-container {
    width: 400px;
    height: auto;
    position: relative;
    margin-top: 150px;
  }
}

#formular_contact {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

label {
  margin-top: 10px;
}

input,
textarea {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
}

button[type="submit"] {
  background-color: #e9a178;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

button[type="submit"]:hover {
  background-color: #a84448;
}

p {
  margin-left: 70%;
  font-size: 14px;
  font-weight: 100;
  text-align: end;
  font-family: "Roboto", sans-serif;
}
