* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
}

body {
  width: 100vw;
  background-image: url(../backgrounds/backgroundMain.png);
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  font-family: "Domine", serif;
}

header .nav-bar ul {
  list-style: none;
}

header .nav-bar ul li {
  position: relative;
  float: left;
}

header .nav-bar ul li a {
  font-size: 20px;
  color: black;
  padding: 20px;
  display: block;
  position: relative;
  padding: 3px;
  margin: 5px;
}

.logo_web {
  width: 150px;
  height: auto;
}

header .nav-bar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

header .nav-bar ul li:hover::after {
  width: 100%;
  transition: 0.5s ease-out;
}

header .nav-bar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
  display: none;
}

header .nav-bar ul li ul li {
  width: 100%;
  margin-right: 100px;
}

header .nav-bar ul li:focus-within > ul,
header .nav-bar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
}

/* Main section */

#main_section {
  margin-top: 200px;
  width: 80vw;
}

.background_foto {
  width: 60%;
  margin-left: 30%;
  border-radius: 1.2em;
  filter: brightness(90%);
}

footer {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  width: 90%;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.fa-solid {
  color: #ffffff;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}
p {
  font-family: "Roboto", sans-serif;
}

/* Button  */
.share-buttom {
  width: 190px;
  height: 60px;
  background-color: #a29c9c;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
  filter: brightness(90%);
}

.share-buttom:hover {
  transform: scale(1.1);
}

.share-buttom span {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background: #db7b7b;
  color: black;
  text-align: center;
  line-height: 80px;
  z-index: 999;
  transition: 0.6s linear;
  border-radius: 40px;
}

.share-buttom:hover span {
  transform: translateX(-100%);
  transition-delay: 0.2s;
}

.share-buttom a {
  flex: 1;
  font-size: 26px;
  color: #2d3436;
  text-align: center;
  opacity: 0;
  transition: 0.3s linear;
}

.share-buttom:hover a {
  opacity: 1;
  transform: translateX(0);
}

.share-buttom a:nth-of-type(1) {
  transition-delay: 1s;
}
.share-buttom a:nth-of-type(2) {
  transition-delay: 0.8s;
}
.share-buttom a:nth-of-type(3) {
  transition-delay: 0.6s;
}
.share-buttom a:nth-of-type(4) {
  transition-delay: 0.4s;
}

h1 {
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Pacifico", cursive;
  color: #a46ae5;
}

/* media queries  */
@media only screen and (max-width: 768px) {
  header label {
    display: initial;
  }

  header .nav-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    height: 100vh;
  }

  header .nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header .nav-bar ul li {
    width: 100%;
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  header .nav-bar ul li a {
    display: block;
    padding: 10px 0;
    font-size: 20px;
  }

  header .nav-bar ul li ul {
    position: relative;
    width: 100%;
  }

  header .nav-bar ul li ul li {
    background: #eee;
  }

  #menu-bar:checked ~ .nav-bar {
    display: initial;
  }

  header .nav-bar ul li:hover::after {
    width: 100%;
    transition: none;
    background: none;
  }

  .logo_web {
    width: 100px;
  }
  .footer-container {
    gap: 3rem;
    flex-direction: column;
    margin-right: 10%;
  }
  .background_foto {
    width: 300px;
    height: 250px;
    margin-left: 10%;
  }
  body {
    width: 100vw;
    background-image: url(../backgrounds/backgroundMain.png);
    background-position: center left;
  }
  h1 {
    font-size: 1.4rem;
  }
  .share-buttom {
    width: 190px;
    height: 60px;
    background-color: #a29c9c;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.3s linear;
    filter: brightness(90%);
  }

  .share-buttom:hover {
    transform: scale(1.1);
  }

  .share-buttom span {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: #db7b7b;
    color: black;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: 0.6s linear;
    border-radius: 40px;
  }

  .share-buttom:hover span {
    transform: translateX(-100%);
    transition-delay: 0.2s;
  }

  .share-buttom a {
    flex: 1;
    font-size: 26px;
    color: #2d3436;
    text-align: center;
    opacity: 0;
    transition: 0.3s linear;
  }

  .share-buttom:hover a {
    opacity: 1;
    transform: translateX(0);
  }

  .share-buttom a:nth-of-type(1) {
    transition-delay: 1s;
  }
  .share-buttom a:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  .share-buttom a:nth-of-type(3) {
    transition-delay: 0.6s;
  }
  .share-buttom a:nth-of-type(4) {
    transition-delay: 0.4s;
  }
}
